.App {
  text-align: center;
}

.App-header {
  background-color: teal;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  width: 250px;
  height: 300px;
  border: 10px black;
}


.column {
  padding: 10px;
}

.fix{
  rotate: left;
}

.galleryitem {
  width: 500px;
  height: 500px;
  background-size: contain;
  display: inline-block;
  border-radius:45px;
  margin: 50px;
  box-shadow: 0 0 30px teal;
  background-color: gray;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: rgb(124, 228, 228);
}

#description {
  color: rgb(252, 252, 252);
}